.bg-signin{
    background: #282633;
}

.input-style{
    background: #403d4d;
    color: #747180;
    border: 0;
}

.modal-text-color{
    color: #fff;
}

.btn-signin{
    background: #47ae66;
}

.modal-text-color-notremember{
    color: rgba(255, 255, 255, 0.3);
}

.modal-text-color-signup{
    color: #b7a7ff;
}