.bg-signin{
    background: #282633;
}

.form-outline .form-control ~ .form-label{
    color: #747180;
}

.rounded-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}