.bg-header{
    background-color: #282633;
}

.btn-sign-up{
    background-color: #806cf5;
    color: #fff;
}

.btn-outline-purple{
    color: #806cf5;
}

.nav-style{
    font-family: 'Inter', system-ui;
    font-size: 17px;
    color: #fff;
}
