.bg-header{
    background-color: rgb(34, 153, 218);
}

.btn-signup{
    background-color: rgb(187, 50, 50);
}

.btn-signin{
    background-color: rgb(79, 170, 43);
}

.nav-style{
    font-family: 'Inter', system-ui;
    font-size: 17px;
}