<footer class="bg-footer fixed-bottom">
  <div class="d-flex justify-content-center gap-4 py-3">
    <a
      class="btn px-3"
      href="https://ggkttd.by/"
      role="button"
      ><i class="fab fa-google"></i>
    </a>
    <a
      class="btn px-3"
      href="https://vk.com/ggkttd_official"
      role="button"
      ><i class="fab fa-vk"></i>
    </a>
    <a
      class="btn px-3"
      href="https://www.instagram.com/uo_ggkttid"
      role="button"
      ><i class="fab fa-instagram"></i>
    </a>
    <a
      class="btn px-3"
      href="https://www.facebook.com/ggkttd"
      role="button"
      ><i class="fab fa-facebook"></i>
    </a>
    <a
      class="btn px-3"
      href="https://www.youtube.com/channel/UCNJ5YlHdjhvnp1SndtQfF6w"
      role="button"
      ><i class="fab fa-youtube"></i> 
    </a>
  </div>
</footer>
