<footer class="bg-footer fixed-bottom">
  <div class="text-center py-3 ">
    <div class="d-flex justify-content-center align-items-center">
      <p class="m-0 me-4 text-color">Наши соцсети :</p>
      <div class="d-flex justify-content-center gap-4">
        <a style="color: #8eaf2c;" href="https://ggkttd.by/" target="_blank" rel="noreferrer" role="button">
          <i class="fab fa-google fa-lg"></i>
        </a>
        <a style="color: #64B5F6;" href="https://vk.com/ggkttd_official" target="_blank" rel="noreferrer" role="button">
          <i class="fab fa-vk"></i>
        </a>
        <a style="color: #EC407A;" href="https://www.instagram.com/uo_ggkttid" target="_blank" rel="noreferrer" role="button">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a style="color: #315cb8;" href="https://www.facebook.com/ggkttd" target="_blank" rel="noreferrer" role="button">
          <i class="fab fa-facebook-f fa-lg"></i>
        </a>
        <a style="color: #f52929;" href="https://www.youtube.com/channel/UCNJ5YlHdjhvnp1SndtQfF6w" target="_blank" rel="noreferrer" role="button">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
