/* You can add global styles to this file, and also import other style files */

@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

.nav-pills {
  .nav-link {
    background-color: #604fbd;
    color: #bebebe;
  }

  .nav-link.active,
  .show > .nav-link {
    background-color: #806cf5;
    color: #fff;
  }
}
