<div class="container">
    <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
        <mdb-carousel-item>
          <img
            src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
            class="d-block w-100"
            alt="..."
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
            class="d-block w-100"
            alt="..."
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp"
            class="d-block w-100"
            alt="..."
          />
        </mdb-carousel-item>
      </mdb-carousel>
      <div class="mt-4">
        <h4 class="text-white mb-4">Подробная информация о месте</h4>
        <p class="text-white">
            Река Неман (белор. Нёман, Нямунас в Литве) – одна из основных водных артерий Беларуси, расположена в северо-западной и западной части республики. Протекает по Беларуси и Литве.
        </p>
        
        <p class="text-white">
            До проведения в 1985-86 гг. мелиоративных работ за начало р.Неман принимался исток р.Неманец, расположенный в 0,8 км к юго-западу от д.Красное, в Узденском районе, Минской области. 
            В результате проведенных работ, р.Неманец от трубы-регулятора, расположенной по дороге д.Низок-д.Каменное отведена в р.Усса, а нижняя устьевая часть русла р.Неманец на протяжении 3 км засыпана и создан мелиоративный объект (м.о.) «Городец» с сетью осушительных каналов. 
            В связи с проведенными работами длина р.Неман уменьшилась на 24 км, а за исток принято место слияния каналов Л-2 и Л-2-2 м.о. «Городец» у насосной станции, расположенной в 2,5 км к северо-западу от д.Речица, Узденского района, Минской области. Впадает в Куршский залив Балтийского моря.
        </p>
        
        <p class="text-white">
            Длина реки от истока до устья 914 км, в пределах Беларуси от истока до впадения р.Черная Ганьча – 436 км. Общая площадь водосбора 98200 км2, в пределах республики (до р.Черная Ганьча) – 34610 км2.
        </p>
        
        <p class="text-white">
            Основные притоки: левобережные – р.Уша, р.Молчадь, р.Щара, р.Зельвянка, р.Россь, р.Свислочь; правобережные – р.Усса, р.Березина, р.Гавья, р.Дитва, р.Котра. За пределами Беларуси справа в Неман впадает р.Вилия, общая длина которой 510 км, а протяженность в пределах республики – 276 км. Речная система р.Неман относится к слабо древовидному типу, развита равномерно, густота речной сети 0,47 км/км2.
        </p>
        
        <p class="text-white">
            Водосбор неправильной формы, асимметричный, более развит по левобережью, расположен в пределах Неманской низины. Рельеф представляет собой всхолмленную равнину с моренными образованиями в виде гряд или групп холмов. Выделяются Гродненские, Новогрудские и Волковысские высоты, а также западная часть Минской возвышенности. Средняя высота водосбора 175 м.
        </p>        
      </div>
</div>